.App {
  text-align: center;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--body-color);
}

.card-style {
  box-shadow: 6px 3px 10px 2px rgba(0,0,0,0.28);
  /* width: 100%; */
  /* height: 80vh; */
}

@media (max-width: 500px) {
  .fntsize {
      font-size: 14px;       
  }   
  /* .fntsize-nav {
      margin: 0;
      padding: .3rem;
  }  */
}
/* 
@media (max-width: 400px) {
  .fntsize {
      font-size: 10px;       
  }   
} */

